ul :nth-child(even){
  background-color: #dcdcdc;
}
ul :nth-child(odd){
  background-color: #aaaaaa;
}

li {
		
}

html {
	height: 100%;
}



.old-todos {
	margin-top: 50px;
	font-size: 3rem;
}

.new-todos {
	margin-top: 50px;
	font-size: 3rem;
}

.todo-form {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.todo-list {
	width: 45%;
}

